@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca";
  text-decoration: none;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: hsl(0, 0%, 95%);
}
.container {
  max-width: 840px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card {
  display: grid;
  place-items: start;
  gap: 1.875rem;
  padding: 2.5rem;
}
.sedan {
  background: hsl(31, 77%, 52%);
  color: hsl(31, 77%, 52%);
}
.suv {
  background: hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%);
}
.luxury {
  background: hsl(179, 100%, 13%);
  color: hsl(179, 100%, 13%);
}

.container h2 {
  font-family: "Big Shoulders Display";
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}
.container p {
  margin-bottom: 2.5rem;
  font-family: "Lexend Deca";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.65);
}
.container .button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  color: inherit;
  background: hsl(0, 0%, 95%);
  border-radius: 1.5rem;
}

@media (max-width: 800px) {
  body {
    display: initial;
    padding: 40px;
  }
  .container {
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .container p {
    margin-bottom: 0px;
  }
  .button {
    font-size: 0.8rem;
  }
}
